/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/screen/_home.scss */
#loader {
  background: #000;
  z-index: -1;
  display: none;
  width: 100%;
  height: 100%;
}

/* line 9, ../sass/screen/_home.scss */
#title-cont, #overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
}

/* line 17, ../sass/screen/_home.scss */
#head-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 21, ../sass/screen/_home.scss */
#head-slider #head-images {
  width: 400%;
  height: 100%;
}
/* line 24, ../sass/screen/_home.scss */
#head-slider #head-images img {
  height: 100%;
  width: 25%;
  float: left;
  margin: 0px;
  position: relative;
}

/* line 35, ../sass/screen/_home.scss */
#title-cont #head-cont {
  height: 400px;
  width: 1154px;
  margin: auto;
  position: relative;
}
/* line 40, ../sass/screen/_home.scss */
#title-cont #head-cont div, #title-cont #head-cont ul, #title-cont #head-cont li, #title-cont #head-cont a {
  position: relative;
  text-align: center;
  z-index: 10;
  color: #FFF;
  margin: auto;
}
/* line 47, ../sass/screen/_home.scss */
#title-cont #head-cont .head1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 26px;
  letter-spacing: 3px;
  font-style: italic;
  color: #FFF;
}
/* line 54, ../sass/screen/_home.scss */
#title-cont #head-cont #hello {
  width: 200px;
  text-align: center;
  margin-top: 130px;
}
/* line 60, ../sass/screen/_home.scss */
#title-cont #head-cont ul {
  width: 810px;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* line 66, ../sass/screen/_home.scss */
#title-cont #head-cont li {
  font-family: "Brandon Grot w01 Bold",'Montserrat',sans-serif;
  font-size: 100px;
  display: none;
}
/* line 71, ../sass/screen/_home.scss */
#title-cont #head-cont #active {
  display: block;
}
/* line 74, ../sass/screen/_home.scss */
#title-cont #head-cont #head-note {
  width: 590px;
  height: 50px;
  margin-top: 30px;
}
/* line 79, ../sass/screen/_home.scss */
#title-cont #head-cont #link1 {
  width: 200px;
  height: 15px;
  padding: 15px 0px;
  border: solid 2px #4CDDF3;
  margin-top: 30px;
}
/* line 85, ../sass/screen/_home.scss */
#title-cont #head-cont #link1 a {
  text-decoration: none;
  color: #FFF;
}

/* line 92, ../sass/screen/_home.scss */
#overlay {
  background: url("../resources/icons/overlay.png");
}

/* line 95, ../sass/screen/_home.scss */
.nav {
  height: 25px;
  width: auto;
  background: #000;
  padding: 25px 68px;
}
/* line 101, ../sass/screen/_home.scss */
.nav #nav-logo {
  height: 20px;
  width: 150px;
  color: #FFF;
  font-size: 20px;
  float: left;
}
/* line 109, ../sass/screen/_home.scss */
.nav #nav-logo #logo {
  background: rgba(76, 221, 243, 0.5);
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 10px;
}
/* line 115, ../sass/screen/_home.scss */
.nav #nav-logo #logo span {
  color: #B3D4FC;
  height: 10px;
  width: 10px;
  bottom: 0px;
  left: 0px;
}
/* line 124, ../sass/screen/_home.scss */
.nav ul {
  height: 25px;
  width: 604px;
  float: right;
  margin-top: -25px;
}
/* line 129, ../sass/screen/_home.scss */
.nav ul li {
  padding: 25px 22px;
  float: left;
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
  height: 25px;
}
/* line 137, ../sass/screen/_home.scss */
.nav ul li a {
  text-decoration: none;
}
/* line 139, ../sass/screen/_home.scss */
.nav ul li a:active, .nav ul li a:link, .nav ul li a:visited {
  color: #F4F4F4;
}
/* line 142, ../sass/screen/_home.scss */
.nav ul li a:hover {
  color: #B3D4FC;
}

/* line 151, ../sass/screen/_home.scss */
.separator, .separator1 {
  height: 2px;
  background: #4CDDF3;
  margin: auto;
}

/* line 156, ../sass/screen/_home.scss */
.separator {
  width: 50px;
}

/* line 159, ../sass/screen/_home.scss */
.separator1 {
  width: 100px;
}

/* line 163, ../sass/screen/_home.scss */
#about {
  background: #F7F7F7;
  padding-bottom: 65px;
}

/* line 167, ../sass/screen/_home.scss */
#about-header {
  height: 275px;
  width: 690px;
  padding: 130px 0px 115px 0px;
  margin: auto;
}

/* line 173, ../sass/screen/_home.scss */
#featured-slider {
  width: 2500px;
  margin-left: -625px;
}
/* line 176, ../sass/screen/_home.scss */
#featured-slider .featured-slider-image {
  width: 467px;
  float: left;
  margin: 0px 15px;
}

/* line 182, ../sass/screen/_home.scss */
nav {
  width: 460px;
  height: 60px;
  padding: 80px 115px 0px 115px;
}
/* line 186, ../sass/screen/_home.scss */
nav a {
  text-decoration: none;
  color: #FFF;
}
/* line 190, ../sass/screen/_home.scss */
nav #prev_image, nav #next_image, nav #portfolio {
  float: left;
  background: #E1E1E1;
}
/* line 194, ../sass/screen/_home.scss */
nav #prev_image, nav #next_image {
  width: 30px;
  height: 57px;
}
/* line 197, ../sass/screen/_home.scss */
nav #prev_image:hover, nav #next_image:hover {
  background: #4CDDF3;
}
/* line 201, ../sass/screen/_home.scss */
nav #portfolio-nav {
  margin: 10px 110px;
  height: 40px;
  width: 180px;
  border-radius: 25px;
  background: #4CDDF3;
  color: #FFF;
  text-align: center;
  line-height: 40px;
  float: left;
}
/* line 211, ../sass/screen/_home.scss */
nav #portfolio-nav:hover {
  background: #E1E1E1;
}

/* line 217, ../sass/screen/_home.scss */
#featured-slider-cont {
  height: 400px;
  width: 100%;
  overflow: hidden;
}
/* line 221, ../sass/screen/_home.scss */
#featured-slider-cont #featured-slider {
  height: 400px;
}
/* line 223, ../sass/screen/_home.scss */
#featured-slider-cont #featured-slider .featured-slider-image {
  width: 467px;
}
/* line 226, ../sass/screen/_home.scss */
#featured-slider-cont #featured-slider .featured-slider-image div {
  background: #FFF;
  height: 20px;
  padding: 45px 100px;
  text-align: center;
}

/* line 236, ../sass/screen/_home.scss */
#head_next_image, #head_prev_image {
  position: absolute;
  top: 170px;
  height: 60px;
  width: 60px;
}

/* line 242, ../sass/screen/_home.scss */
#head_next_image {
  right: 0px;
}

/* line 245, ../sass/screen/_home.scss */
#head_prev_image {
  left: 0px;
}

/* line 248, ../sass/screen/_home.scss */
#style-switcher {
  height: 350px;
  width: 235px;
  position: fixed;
  top: 200px;
  right: -300px;
  background: #FFF;
  z-index: 1;
}
/* line 256, ../sass/screen/_home.scss */
#style-switcher #style-switcher-btn {
  top: 50px;
  left: -40px;
  height: 40px;
  width: 40px;
  position: absolute;
  background: #FFF;
}
/* line 264, ../sass/screen/_home.scss */
#style-switcher img {
  margin: 4px;
  padding: 1px;
}
/* line 268, ../sass/screen/_home.scss */
#style-switcher p {
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  font-size: 20px;
  background: #4CDDF3;
  color: #FFF;
  padding: 10px 30px;
}
/* line 276, ../sass/screen/_home.scss */
#style-switcher span {
  border-top: solid 1px #111;
  border-bottom: solid 1px #111;
}
/* line 280, ../sass/screen/_home.scss */
#style-switcher .color-sample {
  height: 40px;
  width: 40px;
  background: #111;
  margin: 5px;
  float: left;
}

/* line 288, ../sass/screen/_home.scss */
#goto-top {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 10;
  border-radius: 50px;
  background: #4CDDF3;
}
/* line 295, ../sass/screen/_home.scss */
#goto-top p {
  line-height: 30px;
  text-align: center;
}

/* line 300, ../sass/screen/_home.scss */
#studio-about {
  padding: 155px 68px 80px 68px;
  height: 461px;
  background: #FFF;
}
/* line 304, ../sass/screen/_home.scss */
#studio-about .sect-col-2 {
  height: 461px;
  width: 550px;
  float: left;
  padding: 0px 10px;
  position: relative;
}
/* line 310, ../sass/screen/_home.scss */
#studio-about .sect-col-2 #next_image, #studio-about .sect-col-2 #prev_image {
  top: 235px;
  position: absolute;
  width: 35px;
  height: 65px;
  background: #111;
}
/* line 316, ../sass/screen/_home.scss */
#studio-about .sect-col-2 #next_image:hover, #studio-about .sect-col-2 #prev_image:hover {
  background: #4CDDF3;
}
/* line 320, ../sass/screen/_home.scss */
#studio-about .sect-col-2 #next_image {
  right: 0px;
  background: url("../resources/icons/c-arrows.png") -15px -95px;
  background-repeat: no-repeat;
  background-color: #000;
}
/* line 326, ../sass/screen/_home.scss */
#studio-about .sect-col-2 #prev_image {
  left: 0px;
  background: url("../resources/icons/c-arrows.png") -15px -10px;
  background-repeat: no-repeat;
  background-color: #000;
}
/* line 332, ../sass/screen/_home.scss */
#studio-about .sect-col-2 #office-carousel-cont {
  width: 500px;
  height: 350px;
  overflow: hidden;
  margin: auto;
}
/* line 337, ../sass/screen/_home.scss */
#studio-about .sect-col-2 #office-carousel-cont #office-carousel {
  width: 1000px;
  height: 350px;
}
/* line 340, ../sass/screen/_home.scss */
#studio-about .sect-col-2 #office-carousel-cont #office-carousel img {
  margin: 0px;
}
/* line 345, ../sass/screen/_home.scss */
#studio-about .sect-col-2 .about {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #888;
}
/* line 350, ../sass/screen/_home.scss */
#studio-about .sect-col-2 .about a {
  text-decoration: none;
}
/* line 352, ../sass/screen/_home.scss */
#studio-about .sect-col-2 .about a:hover, #studio-about .sect-col-2 .about a:link, #studio-about .sect-col-2 .about a:active, #studio-about .sect-col-2 .about a:visited {
  color: #4CDDF3;
}

/* line 360, ../sass/screen/_home.scss */
.cont-bg {
  height: 100%;
  width: 100%;
  position: relative;
}
/* line 364, ../sass/screen/_home.scss */
.cont-bg .cont-bg-2 {
  height: 40%;
  width: 80%;
  left: 10%;
  bottom: 0%;
}
/* line 370, ../sass/screen/_home.scss */
.cont-bg .cont-bg-3 {
  height: 50%;
  width: 50%;
  left: 25%;
  bottom: 0%;
}
/* line 376, ../sass/screen/_home.scss */
.cont-bg .cont-bg-2, .cont-bg .cont-bg-3 {
  position: absolute;
}
/* line 379, ../sass/screen/_home.scss */
.cont-bg img {
  width: 100%;
  height: 100%;
}

/* line 384, ../sass/screen/_home.scss */
.pos-abs {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 140px;
}
/* line 389, ../sass/screen/_home.scss */
.pos-abs .header1 {
  margin: 20px 0px;
}

/* line 393, ../sass/screen/_home.scss */
#team {
  background: #F7F7F7;
  width: auto;
  height: 700px;
  position: relative;
  padding: 50px 68px;
}
/* line 399, ../sass/screen/_home.scss */
#team .team-prof {
  margin-right: 45px;
  float: left;
  width: 255px;
  height: 416px;
}
/* line 405, ../sass/screen/_home.scss */
#team .team-prof .team-prof-pic,
#team .team-prof .profile {
  position: relative;
}
/* line 408, ../sass/screen/_home.scss */
#team .team-prof .team-prof-pic {
  height: 213px;
  width: 255px;
}
/* line 411, ../sass/screen/_home.scss */
#team .team-prof .team-prof-pic img {
  height: 100%;
  width: 100%;
}
/* line 415, ../sass/screen/_home.scss */
#team .team-prof .team-prof-pic .email {
  background-repeat: no-repeat;
  background: url("../resources/icons/color-icons.png") 0px 50px;
  height: 20px;
  width: 30px;
  top: 0px;
  left: 50%;
}
/* line 424, ../sass/screen/_home.scss */
#team .team-prof .team-prof-pic img, #team .team-prof .team-prof-pic .email.email-add {
  position: absolute;
  float: none;
}
/* line 429, ../sass/screen/_home.scss */
#team .team-prof:last-child {
  margin-right: 0px;
}
/* line 434, ../sass/screen/_home.scss */
#team .profile {
  padding: 30px;
  width: 195px;
  height: 153px;
}
/* line 438, ../sass/screen/_home.scss */
#team .profile .social {
  height: 25px;
  width: 115px;
  margin: 20px auto;
}
/* line 443, ../sass/screen/_home.scss */
#team .profile .social .social-fb {
  background: url("../resources/icons/social.png") 0 0;
}
/* line 446, ../sass/screen/_home.scss */
#team .profile .social .social-tw {
  background: url("../resources/icons/social.png") -25px 0px;
}
/* line 449, ../sass/screen/_home.scss */
#team .profile .social .social-tu {
  background: url("../resources/icons/social.png") -75px 0px;
}
/* line 452, ../sass/screen/_home.scss */
#team .profile .social .social-fb, #team .profile .social .social-tw, #team .profile .social .social-tu {
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  margin-right: 20px;
  float: left;
}
/* line 458, ../sass/screen/_home.scss */
#team .profile .social .social-fb:last-child, #team .profile .social .social-tw:last-child, #team .profile .social .social-tu:last-child {
  margin: 0px;
}

/* line 465, ../sass/screen/_home.scss */
.pos-rel {
  position: relative;
  z-index: 100;
  width: 600px;
  margin: 50px auto 20px auto;
}
/* line 470, ../sass/screen/_home.scss */
.pos-rel .header1 {
  margin: 20px 0px;
}

/* line 474, ../sass/screen/_home.scss */
.header3 {
  margin: 10px auto 50px auto;
  text-align: center;
}

/* line 478, ../sass/screen/_home.scss */
p.header2 {
  width: 700px;
  padding: 50px;
}

/* line 482, ../sass/screen/_home.scss */
p.header1 {
  width: auto;
  margin-bottom: 30px;
}

/* line 1, ../sass/screen/_headers.scss */
.header1 {
  color: #404141;
  font-size: 37PX;
  letter-spacing: 5PX;
}

/* line 6, ../sass/screen/_headers.scss */
.header2 {
  color: #757575;
  font-size: 17PX;
}

/* line 10, ../sass/screen/_headers.scss */
.header3 {
  font-size: 28px;
  color: #434343;
  margin: 10px auto 50px auto;
}

/* line 15, ../sass/screen/_headers.scss */
.header4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #D7D9DA;
}

/* line 20, ../sass/screen/_headers.scss */
.header5 {
  font-size: 14px;
  color: #7F7F7F;
}

/* line 24, ../sass/screen/_headers.scss */
.header6 {
  font-size: 18px;
  color: #030303;
}

/* line 28, ../sass/screen/_headers.scss */
.header7 {
  font-size: 100px;
  line-height: 75px;
  color: #000;
}

/* line 33, ../sass/screen/_headers.scss */
.header8 {
  font-size: 35px;
  color: #FFF;
}

/* line 37, ../sass/screen/_headers.scss */
.serv-label {
  font-size: 18px;
  color: #434242;
}

/* line 41, ../sass/screen/_headers.scss */
.t-car-text {
  font-size: 14px;
  color: #ACACAC;
}

/* line 45, ../sass/screen/_headers.scss */
.t-car-text2 {
  color: #474747;
  font-weight: 700;
}

/* line 52, ../sass/screen/_headers.scss */
.client-text-1 {
  font-size: 16px;
  letter-spacing: 1px;
  color: #FFF;
}

/* line 57, ../sass/screen/_headers.scss */
.client-text-2 {
  font-size: 13px;
  letter-spacing: 1px;
  color: #555;
}

/* line 62, ../sass/screen/_headers.scss */
.contact-text-1 {
  color: #3F3F3F;
}

/* line 65, ../sass/screen/_headers.scss */
.contact-text-2 {
  color: #A8A8A8;
}

/* line 68, ../sass/screen/_headers.scss */
input[type="text"] {
  font-family: 'Montserrat',sans-serif;
  font-size: 13px;
  color: #A8A8A8;
}

/* line 74, ../sass/screen/_headers.scss */
.prog-fill-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  color: #FFF;
  padding-left: 18px;
}
/* line 81, ../sass/screen/_headers.scss */
.prog-fill-text p {
  float: left;
}

/* line 85, ../sass/screen/_headers.scss */
.port-btn-prop {
  font-size: 15px;
  color: #C1C1C1;
}

/* line 90, ../sass/screen/_headers.scss */
.contact-text-1,
.contact-text-2 {
  font-size: 15px;
  font-weight: 600;
}

/* line 99, ../sass/screen/_headers.scss */
.header4,
.serv-label,
.port-btn-prop,
.client-text-1 {
  font-weight: 400;
}

/* line 108, ../sass/screen/_headers.scss */
.header2,
.header3,
.header7,
.header8,
input[type="text"] {
  font-weight: 300;
}

/* line 112, ../sass/screen/_headers.scss */
.foot-text {
  font-size: 13px;
  color: #AAA;
}

/* line 120, ../sass/screen/_headers.scss */
.header1,
.header2,
.header4,
.header6,
.header7 {
  text-align: center;
  margin: auto;
}

/* line 124, ../sass/screen/_headers.scss */
.header5 {
  margin: 10px auto 20px auto;
  text-align: center;
}

/* line 144, ../sass/screen/_headers.scss */
.header1,
.header2,
.header3,
.header5,
.header6,
.header7,
.header8,
.serv-label,
.t-car-text,
.t-car-text2,
.port-btn-prop,
.client-text-1,
.client-text-2,
.contact-text-1,
.contact-text-2,
.prog-fill-text,
.port-nav-prop {
  font-family: 'Open Sans', sans-serif;
}

/* line 148, ../sass/screen/_headers.scss */
.dark {
  color: #404040;
}

/* line 151, ../sass/screen/_headers.scss */
.light {
  color: #FFF;
}

/* line 154, ../sass/screen/_headers.scss */
.separate {
  text-align: center;
  margin: 30px auto;
}

/* line 158, ../sass/screen/_headers.scss */
input[type="submit"].light {
  background: #4CDDF3;
}

/* line 1, ../sass/screen/_facts.scss */
#facts {
  background: #FFF;
  height: auto;
  padding: 50px 68px;
}
/* line 5, ../sass/screen/_facts.scss */
#facts #facts-header {
  margin: 50px auto;
  width: 300px;
  height: 100px;
  position: relative;
}
/* line 10, ../sass/screen/_facts.scss */
#facts #facts-header .header3 {
  margin: 0px auto 50px auto;
}
/* line 13, ../sass/screen/_facts.scss */
#facts #facts-header .header4 {
  margin: 20px auto;
}
/* line 17, ../sass/screen/_facts.scss */
#facts .facts-cont {
  position: relative;
  width: 250px;
  height: auto;
  float: left;
  margin-right: 45px;
}
/* line 23, ../sass/screen/_facts.scss */
#facts .facts-cont:last-child {
  margin: 0px;
}
/* line 26, ../sass/screen/_facts.scss */
#facts .facts-cont .header7 {
  margin: 30px auto;
}
/* line 29, ../sass/screen/_facts.scss */
#facts .facts-cont .facts-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #7F7F7F;
  text-align: center;
  margin: 20px auto;
}
/* line 38, ../sass/screen/_facts.scss */
#facts .facts-cont #tweet {
  background: url("../resources/icons/facts.png") 0 0 #4cddf3;
}
/* line 41, ../sass/screen/_facts.scss */
#facts .facts-cont #client {
  background: url("../resources/icons/facts.png") -73px 0px #4cddf3;
}
/* line 44, ../sass/screen/_facts.scss */
#facts .facts-cont #project {
  background: url("../resources/icons/facts.png") -146px 0px #4cddf3;
}
/* line 47, ../sass/screen/_facts.scss */
#facts .facts-cont #coffee {
  background: url("../resources/icons/facts.png") -219px 0px #4cddf3;
}
/* line 53, ../sass/screen/_facts.scss */
#facts .facts-cont #tweet,
#facts .facts-cont #client,
#facts .facts-cont #project,
#facts .facts-cont #coffee {
  height: 71px;
  width: 73px;
  margin: auto;
}

/* line 1, ../sass/screen/_parallax.scss */
#parallax {
  background: url("../resources/parallax/parallax-02.png") #4cddf3;
  position: relative;
  overflow: hidden;
}
/* line 5, ../sass/screen/_parallax.scss */
#parallax #para-header {
  height: 200px;
  width: 480px;
  margin: 50px auto;
}
/* line 9, ../sass/screen/_parallax.scss */
#parallax #para-header .header4 {
  opacity: 0.5;
}
/* line 13, ../sass/screen/_parallax.scss */
#parallax #parallax-bg {
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 18, ../sass/screen/_parallax.scss */
#parallax #parallax-bg #parallax-layer-1 {
  width: 90%;
  height: 50%;
  position: absolute;
  bottom: 0%;
  left: 5%;
}
/* line 24, ../sass/screen/_parallax.scss */
#parallax #parallax-bg #parallax-layer-1 img {
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/screen/_services.scss */
#services {
  padding: 195px 68px 0px 68px;
}
/* line 3, ../sass/screen/_services.scss */
#services #serv-header {
  width: 700px;
  margin: auto;
}
/* line 7, ../sass/screen/_services.scss */
#services .serv-cont {
  position: relative;
  float: left;
  height: 140px;
  width: 171px;
  padding: 30px;
}
/* line 13, ../sass/screen/_services.scss */
#services .serv-cont .circle {
  height: 110px;
  width: 110px;
  border-radius: 110px;
  margin: 10px auto 30px;
}
/* line 19, ../sass/screen/_services.scss */
#services .serv-cont p {
  text-align: center;
}
/* line 23, ../sass/screen/_services.scss */
#services .serv-cont #tool {
  background: url("../resources/icons/sl-icons.png") 0px 0px #4cddf3;
}
/* line 26, ../sass/screen/_services.scss */
#services .serv-cont #diamond {
  background: url("../resources/icons/sl-icons.png") -110px 0px #4cddf3;
}
/* line 29, ../sass/screen/_services.scss */
#services .serv-cont #globe {
  background: url("../resources/icons/sl-icons.png") -220px 0px #4cddf3;
}
/* line 32, ../sass/screen/_services.scss */
#services .serv-cont #pin {
  background: url("../resources/icons/sl-icons.png") -330px 0px #4cddf3;
}
/* line 35, ../sass/screen/_services.scss */
#services .serv-cont #clock {
  background: url("../resources/icons/sl-icons.png") -440px 0px #4cddf3;
}

/* line 1, ../sass/screen/_services-2.scss */
#service {
  background: #F7F7F7;
}

/* line 4, ../sass/screen/_services-2.scss */
#services-2 {
  position: relative;
}
/* line 6, ../sass/screen/_services-2.scss */
#services-2 .cont-serv {
  width: 40%;
  height: 60%;
  padding: 5%;
  float: left;
}
/* line 11, ../sass/screen/_services-2.scss */
#services-2 .cont-serv .cont-serv-header {
  height: 50px;
}
/* line 14, ../sass/screen/_services-2.scss */
#services-2 .cont-serv .prog-bg {
  height: 36px;
  width: 90%;
  margin: 30px auto;
  background: #DEDEDE;
  border-radius: 3px;
}
/* line 20, ../sass/screen/_services-2.scss */
#services-2 .cont-serv .prog-bg .prog-fill {
  height: 36px;
  background: url("../resources/icons/skill-sprite.png") #4cddf3;
}
/* line 24, ../sass/screen/_services-2.scss */
#services-2 .cont-serv .prog-bg #w-60 {
  width: 60%;
}
/* line 27, ../sass/screen/_services-2.scss */
#services-2 .cont-serv .prog-bg #w-70 {
  width: 70%;
}
/* line 30, ../sass/screen/_services-2.scss */
#services-2 .cont-serv .prog-bg #w-80 {
  width: 80%;
}
/* line 33, ../sass/screen/_services-2.scss */
#services-2 .cont-serv .prog-bg #w-90 {
  width: 90%;
}
/* line 36, ../sass/screen/_services-2.scss */
#services-2 .cont-serv .prog-bg #w-100 {
  width: 100%;
}
/* line 40, ../sass/screen/_services-2.scss */
#services-2 .cont-serv img {
  border-radius: 99px;
  position: relative;
  float: left;
  margin: 0px 20px 0px 0px;
}
/* line 46, ../sass/screen/_services-2.scss */
#services-2 .cont-serv .t-car-cont {
  height: 100%;
  width: 33%;
  float: left;
}
/* line 50, ../sass/screen/_services-2.scss */
#services-2 .cont-serv .t-car-cont .t-car-conts {
  height: 35%;
  width: 96%;
  padding: 2%;
}
/* line 56, ../sass/screen/_services-2.scss */
#services-2 .cont-serv .t-car-text {
  width: 75%;
  position: relative;
  float: left;
  margin-bottom: 2%;
}
/* line 63, ../sass/screen/_services-2.scss */
#services-2 .cont-serv span {
  float: left;
}

/* line 68, ../sass/screen/_services-2.scss */
#testimonials-carousel {
  width: 300%;
  height: 100%;
  padding: 1%;
  overflow: hidden;
}

/* line 74, ../sass/screen/_services-2.scss */
#left {
  float: left;
}

/* line 77, ../sass/screen/_services-2.scss */
#right {
  float: right;
}

/* line 80, ../sass/screen/_services-2.scss */
#car-holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 85, ../sass/screen/_services-2.scss */
#video {
  background: #000;
}

/* line 1, ../sass/screen/_portfolio.scss */
#portfolio {
  background: #F7F7F7;
  margin-bottom: 85px;
}

/* line 5, ../sass/screen/_portfolio.scss */
.port-header {
  padding-top: 120px;
  background: #F7F7F7;
}

/* line 9, ../sass/screen/_portfolio.scss */
#clients {
  position: relative;
  height: 400px;
}

/* line 13, ../sass/screen/_portfolio.scss */
.clients-info {
  position: relative;
  float: left;
  height: 200px;
  width: 258px;
}
/* line 18, ../sass/screen/_portfolio.scss */
.clients-info img {
  width: 100%;
  height: 100%;
}
/* line 22, ../sass/screen/_portfolio.scss */
.clients-info section {
  height: 98px;
  width: 218px;
  padding: 51px 20px;
  position: absolute;
  opacity: 0;
  background: rgba(76, 221, 243, 0.9);
  top: 0;
}
/* line 31, ../sass/screen/_portfolio.scss */
.clients-info section div {
  background: url("../resources/icons/color-icons.png") -44px 0 no-repeat;
  height: 44px;
  width: 44px;
  margin: auto;
}
/* line 37, ../sass/screen/_portfolio.scss */
.clients-info section .client-text-1 {
  margin-top: 30px;
}
/* line 41, ../sass/screen/_portfolio.scss */
.clients-info section .client-text-1,
.clients-info section .client-text-2 {
  text-align: center;
}

/* line 46, ../sass/screen/_portfolio.scss */
#port-btn {
  height: 30px;
  width: 600px;
  margin: 0px auto 70px auto;
}
/* line 51, ../sass/screen/_portfolio.scss */
#port-btn #port-btn-cont .port-btn-prop {
  line-height: 32px;
  margin: 0 5px 10px;
  padding: 0px 22px 0px 22px;
  position: relative;
  background: #FFF;
  float: left;
  border-radius: 3px;
}
/* line 59, ../sass/screen/_portfolio.scss */
#port-btn #port-btn-cont .port-btn-prop:hover {
  background: #4CDDF3;
  color: #FFF;
}

/* line 66, ../sass/screen/_portfolio.scss */
#works-car {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 85px 0px;
}
/* line 72, ../sass/screen/_portfolio.scss */
#works-car #works-car-cont {
  height: 100px;
  width: 2324px;
}
/* line 75, ../sass/screen/_portfolio.scss */
#works-car #works-car-cont li {
  float: left;
  width: 322px;
}
/* line 78, ../sass/screen/_portfolio.scss */
#works-car #works-car-cont li img {
  width: 100%;
  height: 100%;
}

/* line 4, ../sass/screen/_contacts.scss */
#contact-header {
  width: 1180px;
  margin: auto;
}
/* line 7, ../sass/screen/_contacts.scss */
#contact-header img {
  vertical-align: middle;
}
