$font-head1: 'Open Sans', sans-serif;
#loader{
	background: #000;
	z-index: -1;
	display: none;
	width: 100%;
	height: 100%;
}
#title-cont,#overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 100%;
	height: 100%;
}
#head-slider{
	width: 100%;
	height: 100%;
	overflow: hidden;
	#head-images{
		width: 400%;
		height: 100%;
		img{
			height: 100%;
			width: 25%;
			float: left;
			margin: 0px;
			position: relative;
		}
	}
}

#title-cont{
	#head-cont{
	height: 400px;
	width: 1154px;
	margin: auto;
	position: relative;
		div, ul, li, a{
			position: relative;
			text-align: center;
			z-index: 10;
			color: #FFF;
			margin: auto;
		}
		.head1{
			font-family: Georgia, "Times New Roman", Times, serif;
			font-size: 26px;
			letter-spacing: 3px;
			font-style: italic;
			color: #FFF;
		}
		#hello{
			width: 200px;
			text-align: center;
			margin-top: 130px;
		}

		ul{
			width: 810px;
			margin-top: 20px;
			margin-bottom: 30px;
		}

		li{
			font-family: "Brandon Grot w01 Bold",'Montserrat',sans-serif;
			font-size: 100px;
			display: none;
		}
		#active{
			display: block;
		}
		#head-note{
			width: 590px;
			height: 50px;
			margin-top:30px;
		}
		#link1{
			width: 200px;
			height: 15px;
			padding: 15px 0px;
			border: solid 2px #4CDDF3;
			margin-top: 30px;
			a{
				text-decoration: none;
				color: #FFF;
			}
		}
	}
}
#overlay{
	background: url('../resources/icons/overlay.png');
}
.nav{
	height: 25px;
	width: auto;
	background: #000;
	padding: 25px 68px;

	#nav-logo{
	
		height:20px;
		width: 150px;
		color: #FFF;
		font-size: 20px;
		float: left;
		
		#logo{
			background: rgba(76, 221, 243, 0.5);
			height: 20px;
			width: 20px;
			float: left;
			margin-right: 10px;
			span{
				color: #B3D4FC;
				height: 10px;
				width: 10px;
				bottom: 0px;
				left: 0px;
			}
		}
	}
	ul{
		height: 25px;
		width: 604px;
		float: right;
		margin-top: -25px;
		li{
			padding: 25px 22px;
			float: left;
			color: #FFF;
			font-size: 14px;
			line-height: 20px;
			height: 25px;
			a
			{
				text-decoration:none;
				&:active,&:link,&:visited{
					color: #F4F4F4;
				}
				&:hover{
					color: #B3D4FC;
				}
			}
		}

	}

}
.separator,.separator1{
	height: 2px;
	background: #4CDDF3;
	margin: auto;
}
.separator{
	width: 50px;
}
.separator1{
	width: 100px;
}

#about{
	background: #F7F7F7;
	padding-bottom: 65px;
}
#about-header{
	height: 275px;
	width: 690px;
	padding: 130px 0px 115px 0px;
	margin:auto;
}
#featured-slider{
	width: 2500px;
	margin-left: -625px;
	.featured-slider-image{
		width: 467px;
		float: left;
		margin: 0px 15px;
	}
}
nav{
	width: 460px;
	height: 60px;
	padding: 80px 115px 0px 115px;
	a{
		text-decoration: none;
		color: #FFF;
	}
	#prev_image,#next_image,#portfolio{
		float: left;
		background: #E1E1E1;
	}
	#prev_image, #next_image{
		width: 30px;
		height: 57px;
		&:hover{
			background:#4CDDF3;
		}
	}
	#portfolio-nav{
		margin: 10px 110px;
		height: 40px;
		width: 180px;
		border-radius: 25px;
		background:#4CDDF3;
		color: #FFF;
		text-align: center;
		line-height: 40px;
		float: left;
		&:hover{
			background: #E1E1E1;
		}
	}

}
#featured-slider-cont{
	height: 400px;
	width: 100%;
	overflow: hidden;
	#featured-slider{
	height: 400px;
		.featured-slider-image{
			width: 467px;
			img{}
			div{
				background: #FFF;
				height: 20px;
				padding: 45px 100px;
				text-align: center;
			}
		}
	}
}

#head_next_image, #head_prev_image{
	position: absolute;
	top: 170px;
	height: 60px;
	width: 60px;
}
#head_next_image{
	right: 0px;
}
#head_prev_image{
	left: 0px;	
}
#style-switcher{
	height: 350px;
	width: 235px;
	position: fixed;
	top: 200px;
	right: -300px;
	background: #FFF;	
	z-index: 1;
	#style-switcher-btn{
		top: 50px;
		left: -40px;
		height: 40px;
		width:40px;
		position: absolute;
		background: #FFF;
	}
	img{
		margin: 4px;
		padding: 1px;
	}
	p{
		font-family: 'Montserrat', sans-serif;
		line-height: 30px;
		font-size: 20px;
		background: #4CDDF3;
		color: #FFF;
		padding: 10px 30px;
	}
	span{
		border-top: solid 1px #111;
		border-bottom: solid 1px #111;
	}
	.color-sample{
		height: 40px;
		width: 40px;
		background: #111;
		margin: 5px;
		float: left;
	}
}
#goto-top{
	height: 50px;
	width: 50px;
	position: absolute;
	z-index: 10;
	border-radius: 50px;
	background: #4CDDF3;
	p{
		line-height: 30px;
		text-align: center;
	}
}
#studio-about{
	padding:155px 68px 80px 68px;
	height: 461px;
	background: #FFF;
	.sect-col-2{
		height: 461px;
		width: 550px;
		float: left;
		padding: 0px 10px;
		position: relative;
		#next_image,#prev_image{
			top: 235px;
			position: absolute;
			width: 35px;
			height: 65px;
			background: #111;
			&:hover{
				background: #4CDDF3;
			}
		}
		#next_image{
			right: 0px;
			background: url('../resources/icons/c-arrows.png') -15px -95px;
			background-repeat: 	no-repeat;
			background-color: #000;
		}
		#prev_image{
			left: 0px;
			background: url('../resources/icons/c-arrows.png') -15px -10px;
			background-repeat: no-repeat;
			background-color: #000;
		}
		#office-carousel-cont{
			width: 500px;
			height: 350px;
			overflow: hidden;
			margin: auto;
			#office-carousel{
				width: 1000px;
				height: 350px;
				img{
					margin: 0px;
				}
			}
		}
		.about{
			font-family: 'Open Sans', sans-serif;
			font-size: 15px;
			line-height: 26px;
			color: #888;
			a{
				text-decoration: none;
				&:hover,&:link,&:active,&:visited{
					color: #4CDDF3;
				}
			}
		}
	}
}

.cont-bg{
	height: 100%;
	width: 100%;
	position: relative;
	.cont-bg-2{
		height: 40%;
		width: 80%;
		left: 10%;
		bottom: 0%;
	}
	.cont-bg-3{
		height: 50%;
		width: 50%;
		left: 25%;
		bottom: 0%;
	}
	.cont-bg-2, .cont-bg-3{
		position: absolute;
	}
	img{
		width: 100%;
		height: 100%;
	}
}
.pos-abs{
	position: absolute;
	z-index: 100;
	width: 100%;
	top: 140px;
	.header1{
		margin: 20px 0px;
	}
}
#team{
	background: #F7F7F7;
	width: auto;
	height: 700px;
	position: relative;
	padding: 50px 68px;
	.team-prof{
		margin-right: 45px;
		float: left;
		width: 255px;
		height: 416px;
		.team-prof-pic,
		.profile{
			position: relative;
		}
		.team-prof-pic{
			height: 213px;
			width: 255px;
			img{
				height: 100%;
				width: 100%;
			}
			.email{
				background-repeat: no-repeat;
				background: url('../resources/icons/color-icons.png') 0px 50px;
				height: 20px;
				width:30px;
				top: 0px;
				left: 50%;
			}
			.email-add{}
			img,.email.email-add{
				position: absolute;
				float: none;
			}
		}
		&:last-child{
			margin-right: 0px;
		}
	}

	.profile{
		padding: 30px;
		width: 195px;
		height: 153px;
		.social{
			height: 25px;
			width: 115px;
			margin: 20px auto;

			.social-fb{
				background: url('../resources/icons/social.png') 0 0;
			}
			.social-tw{
				background: url('../resources/icons/social.png') -25px 0px;
			}
			.social-tu{
				background: url('../resources/icons/social.png') -75px 0px;
			}
			.social-fb,.social-tw,.social-tu{
				background-repeat: no-repeat;
				height: 25px;
				width: 25px;
				margin-right: 20px;
				float: left;
				&:last-child{
					margin: 0px;
				}
			}
		}
	}
}
.pos-rel{
	position: relative;
	z-index: 100;
	width: 600px;
	margin: 50px auto 20px auto;
	.header1{
		margin: 20px 0px;
	}
}
.header3{
	margin: 10px auto 50px auto;
	text-align: center;
}
p.header2{
	width: 700px;
	padding: 50px;
}
p.header1{
	width: auto;
	margin-bottom: 30px;
}