#services{
	padding: 195px 68px 0px 68px;
	#serv-header{
		width: 700px;
		margin: auto;
	}
	.serv-cont{
		position: relative;
		float: left;
		height: 140px;
		width: 171px;
		padding: 30px;
		.circle{
			height: 110px;
			width: 110px;
			border-radius: 110px;			
			margin: 10px auto 30px;
		}
		p{
			text-align: center;
		}

			#tool{
				background: url('../resources/icons/sl-icons.png') 0px 0px #4CDDF3;
			}
			#diamond{
				background: url('../resources/icons/sl-icons.png') -110px 0px #4CDDF3;	
			}
			#globe{
				background: url('../resources/icons/sl-icons.png') -220px 0px #4CDDF3;
			}
			#pin{
				background: url('../resources/icons/sl-icons.png') -330px 0px #4CDDF3;
			}
			#clock{
				background: url('../resources/icons/sl-icons.png') -440px 0px #4CDDF3;
			}
	}	
}
#services-2{
	position: relative;
	.cont-serv{
		width: 40%;
		height: 40%;
		padding: 5%;
		.cont-serv-header{
			height: 200px;
		}
		.prog-bg{
			height: 36px;
			width: 90%;
			margin: 30px auto;
			background: #DEDEDE;
			.prog-fill{
				background: url('../resources/icons/skills-sprite.png') #4CDDF3;
				p{
					float: left;
				}
			}
			#60{
				width: 60%;
			}
			#70{
				width: 70%;
			}
			#80{
				width: 80%;
			}
			#90{
				width: 90%;
			}
			#100{
				width: 100%;
			}
		}
	}

}